{% extends 'base.html' %}

{% block title %}About Us - Your Website{% endblock %}

{% block content %}
    <h1>About Us</h1>
    <p>Welcome to our website! We are dedicated to providing the best services and solutions to our customers.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla vel leo sit amet odio eleifend sollicitudin. Proin a dolor non purus vehicula dapibus. Cras pharetra tortor eu ante rutrum, eu dapibus tortor sollicitudin. Nullam rutrum nunc sit amet arcu dignissim, sit amet lobortis lorem tincidunt. Suspendisse sit amet justo felis. Donec vitae gravida quam. Ut euismod consequat nisi, nec tempus nisi molestie at.</p>
    <!-- Add more information about your company or organization here -->
{% endblock %}
